div p {
    display: inline;
    margin:10px;
}

.icons {
    margin: 20px;
    height: 40px;
    color: rgba(255, 255, 255, 0.303);
}

.icons:hover{
    color: rgb(255, 255, 255);
    transition: 2s;
    cursor: pointer;
} 


